node_modules
vendor
.git
.env
.env.backup
.env.production
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.editorconfig
*.md
.phpunit.cache
.phpunit.result.cache
/.fleet
/.idea
/.vscode
npm-debug.log
yarn-error.log
public/build
public/hot
public/storage
Homestead.json
Homestead.yaml
auth.json
docker-compose.yml
bootstrap/cache/*.php
